[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[user]
	name = romracer
	email = romracer@noreply.users.github.com
	signingkey = ~/.ssh/git-commit-signing/coder.pub
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
